body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    animation: gradient 15s ease infinite;
    background: linear-gradient(150deg, #161D6F 0%, #161D6F 20%, rgba(196, 187, 240, 1) 50%, #0B2F9F 80%, #0B2F9F 100%);
    background-size: 400% 400%;
    /* color: #E7E7AA; */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
.navbar {
    background: linear-gradient(150deg, #0B2F9F 0%, #0B2F9F 25%, rgba(196, 187, 240, 1) 50%, #161D6F 75%, #161D6F 100%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.btn {
    background-color: #98DED9;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    color:  #f3f3f3;
    transition: background-color, box-shadow 0.3s ease;
}
.btn:hover {
    background-color: #C7FFD8;
    box-shadow: 0 0 20px rgba(199, 255, 216, 1), 0 0 30px rgba(128, 0, 128, 1); /* Glowing effect */
    transform: scale(1.05); 
    font-weight: bold;
    color: white;
}
.nav-item {
    padding: 5px;
}
.nav-item:hover{
    cursor: pointer;
}

section {
    padding: 2rem;
}
.about {
    background: linear-gradient(150deg, #161D6F 0%, #161D6F 20%, rgba(196, 187, 240, 1) 50%, #0B2F9F 80%, #0B2F9F 100%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    height: 70vh;
    /* width: 98%; */
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.about-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2 {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}

.text {
    max-width: 500px;
}
.projects{
    background-color: #0B2F9F;
}
.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.project-item svg.icon {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
#about {
    /* margin: 0 auto; */
    max-width: 100;
}


section#projects .project-item {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
}

#contact svg.icon {
    width: 40px;
    height: 40px;
}

#contact p {
    text-align: center;
}
footer {
    background: linear-gradient(90deg, #0B2F9F, #161D6F);
    color: white;
}

@keyframes moveAndChangeColor {
    0% {
        transform: translateX(0);
        background-color: blue;
    }
    50% {
        transform: translateX(200px);
        background-color: red;
    }
    100% {
        transform: translateX(0);
        background-color: blue;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}